<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Ubuntu&:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/styles/images/favicon_Tourify.png">
    <meta charset="UTF-8">
    <title>Tourify</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
        </script>
</head>
<body>
    <div class="flex-container">
        <div id="sideLeft" class="center-align">
            <p></p>
        </div>
        <div id="middle">
            <div  id="titleWrapper">
                <h2 id="title" class="center-align">
                    <a href="{{ url_for('index')}}">
                        <img src="../static/styles/images/favicon_Tourify-2.png" style="max-width: 300px; margin-bottom: -20px;">
                        <!---Tourify--->
                    </a>
                </h2>
            </div>

            <div id="mainText">
                <p></p>
                <div>
                    <button class="loginButton" onclick="openForm()">Opprett tur</button>

                    <div class="form-popup" id="myForm">
                      <form action="/add-tour" class="form-container">
                        <h1>Legg til tur</h1>

                        <label><b>Navn:</b></label>
                        <input type="text" placeholder="Turnavn" name="navn" required>

                        <label><b>Pris</b></label>
                        <input type="number" placeholder="Pris per. person" name="pris" required>

                        <button type="submit" class="btn">Legg til tur</button>
                        <button type="button" class="btn avbryt" onclick="closeForm()">Lukk</button>
                      </form>
                    </div>
                    <button class="loginButton">Rediger tur</button>
                </div>
                <label>
                    <input type="text" placeholder="Din drømmereise" id="search-bar">
                    <button type="submit" id="search-button">Søk</button>
                </label>

            </div>
        </div>
        <div id="sideRight">
            <div id="buttonWrapper">
                <p>Logget inn som</p>
                <div class="dropdown">
                    <button class="dropbtn">Admin</button>
                    <div class="dropdown-content">
                        <a href="" style="color: grey">Hjemside</a>
                        <a href="{{ url_for('adminedit') }}">Rediger profil</a>
                        <a href="{{ url_for('admintrips') }}">Opprettede turer</a>
                        <a href="">Brukerportal</a>
                        <a href="{{ url_for('index') }}">
                            <button class="loginButton">
                                Logg ut
                            </button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="center-align" id="footer">
        <footer>
            <p>BLFMP AS &copy; 2023</p>
        </footer>
    </div>
</body>
</html>