<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Ubuntu&:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/styles/images/favicon_Tourify.png">
    <meta charset="UTF-8">
    <a href="{{ url_for('index')}}">
        <title>Tourify</title>
    </a>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="flex-container">
        <div id="sideLeft" class="center-align">
            <p></p>
        </div>
        <div id="middle">
            <div  id="titleWrapper">
                <h2 id="title" class="center-align">
                    Tourify
                </h2>
            </div>

            <div id="mainText"> <!--Eksempeltekst-->
                <p></p>
                <div>
                    <button class="loginButton">Opprett tur</button>
                    <button class="loginButton">Rediger tur</button>
                </div>
                <label>
                    <input type="text" placeholder="Din drømmereise" id="search-bar">
                    <button type="submit" id="search-button">Søk</button>
                </label>

            </div>
        </div>
        <div id="sideRight">
            <div id="buttonWrapper">
                <p>Logget inn som</p>
                <div class="dropdown">
                    <button class="dropbtn">Admin</button>
                    <div class="dropdown-content">
                        <a href="">Rediger profil</a>
                        <a href="">Mine turer</a>
                        <a href="">Brukerportal</a>
                        <a href="{{ url_for('index') }}">
                            <button class="loginButton">
                                Log Out
                            </button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="center-align" id="footer">
        <footer>
            <p>BLFP AS &copy; 2023</p>
        </footer>
    </div>
</body>
</html>