<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Ubuntu&:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/styles/images/favicon_Tourify.png">
    <meta charset="UTF-8">
    <a href="{{ url_for('index')}}">
        <title>Tourify</title>
    </a>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="flex-container">
        <div id="sideLeft" class="center-align">
            <p></p>
        </div>
        <div id="middle">
            <div  id="titleWrapper">
                <h1 id="title" class="center-align">
                    Tourify
                </h1>
            </div>
            <div id="buttonWrapper" class="center-align">
                <p>Logg inn:</p>
                <a href="{{ url_for('userpage') }}">
                   <button class="loginButton">
                       Bruker
                   </button>
                </a>
                <a href="{{ url_for('adminpage') }}">
                    <button class="loginButton">
                        Admin
                    </button>
                </a>

            </div>
            <div id="mainText"> <!--Eksempeltekst-->
                <p>Velkommen til Expedition Planner - en virtuell portal til uforglemmelige eventyr! På vår nettside, har vi samlet det beste innen reiseopplevelser ved å tilby deg muligheten til å bestille skreddersydde og profesjonelle guidede turer til din drømmereisedestinasjon. Enten du er en eventyrlysten globetrotter eller en feriegjest som søker etter den perfekte avslapningen, så har vi noe spennende å tilby deg.
                    <br/><br/>
                    <b>Utforsk, Lær og Opplev</b><br/>
                        Vår nettside er ditt portal til verden. Uansett hvor du drømmer om å reise, har vi en dedikert og erfaren guide som vil lede deg gjennom ditt valgte reisemål på en måte som er helt unik. Våre guidede turer lar deg dykke dypt inn i kulturen, historien og skjønnheten til stedene du besøker. Vi tilbyr alt fra eventyrfulle vandreturer i majestetiske fjellområder til avslappende spaserturer langs de vakreste strendene. Det er noe for alle!
                    <br/><br/>
                    <b>Skreddersydd Fleksibilitet</b><br/>
                        Vi forstår at hver reisendes behov er unike. Derfor gir vi deg muligheten til å tilpasse turene dine slik at de passer perfekt til din ferieplan. Velg din egen reisebane, tidspunkt og preferanser. Våre guider er her for å oppfylle dine ønsker og gi deg en personlig og minneverdig opplevelse.
                    <br/><br/>
                    <b>Kvalifiserte og Kunnskapsrike Guider</b><br/>
                        Vi samarbeider bare med de mest erfarne og kunnskapsrike lokale guider. De vil ikke bare vise deg de mest fantastiske stedene, men også dele innsiktsfulle historier og hemmeligheter som du ikke finner i guidebøkene. Dette er reiser som vil berike din forståelse av verden.
                    <br/><br/>
                    <b>Enkelt og Bekvemt</b><br/>
                        Vår nettside gir deg en sømløs bestillingsprosess. Du kan enkelt bla gjennom vårt utvalg av turer, velge din foretrukne, legge til ekstrautstyr om nødvendig, og betale med letthet. Det er aldri vært enklere å planlegge og bestille din drømmeferie!
                        Så hvorfor vente? La oss hjelpe deg med å skape uforglemmelige minner på din neste reise. Utforsk vårt utvalg av guidede turer, og la oss ta deg med på en reise fylt med eventyr, læring og opplevelse. Din neste store eventyr begynner her!</p>
            </div>
        </div>
        <div id="sideRight" class="center-align">
            <p></p>
        </div>
    </div>
    <div class="center-align" id="footer">
        <footer>
            <p>BLFP AS &copy; 2023</p>
        </footer>
    </div>
</body>
</html>