<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>ExpPlanner</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="flex-container">
        <div id="sideLeft" class="center-align">
            <h4>placeholder</h4>
        </div>
        <div id="middle">
            <div  id="titleWrapper">
                <h1 id="title" class="center-align">
                    Expedition Planner
                </h1>
            </div>
            <div id="buttonWrapper" class="center-align">
                <p>Logg inn:</p>
                <a href="{{ url_for('userpage') }}">
                   <button class="loginButton">
                       Bruker
                   </button>
                </a>
                <a href="{{ url_for('adminpage') }}">
                    <button class="loginButton">
                        Admin
                    </button>
                </a>

            </div>
            <div id="mainText"> <!--Eksempeltekst-->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat purus odio, ut tincidunt ante dignissim a. Etiam lacinia, felis non malesuada luctus, sem libero tempus risus, vitae finibus enim lorem sed dolor. Ut sed dolor erat. Praesent nulla ex, faucibus sed consectetur nec, facilisis ut tortor. Fusce vel elit at tellus ultricies placerat. Aliquam lobortis lacinia mollis. Nunc consequat, magna sed sodales tristique, diam lacus pulvinar est, vitae porta sapien ipsum non enim. Nam convallis libero at nunc gravida, at semper nibh laoreet. Duis eget nisl vitae ipsum egestas pellentesque in sed velit. Phasellus id quam convallis, cursus nibh non, tempor neque. Duis aliquet tincidunt viverra. Aenean ullamcorper porta volutpat. Mauris luctus diam ac risus euismod, in sodales urna ultricies. Aenean dignissim bibendum vehicula.

Pellentesque maximus lacinia odio, id placerat ex ultrices eu. Nunc tempor diam eget mattis eleifend. Cras feugiat nisl et venenatis mattis. Etiam neque purus, mattis eu est et, auctor semper sem. Duis maximus ligula sit amet maximus varius. Donec ipsum eros, rutrum a varius quis, mattis interdum nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vitae metus a metus egestas egestas.</p>
            </div>
        </div>
        <div id="sideRight" class="center-align">
            <h4>placeholder</h4>
        </div>
    </div>
    <div class="center-align" id="footer">
        <footer>
            <p>BLFP AS &copy; 2023</p>
        </footer>
    </div>
</body>
</html>