<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Ubuntu&:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/styles/images/favicon_Tourify.png">
    <meta charset="UTF-8">
    <title>Tourify</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="flex-container">
        <div id="sideLeft" class="center-align">
            <p></p>
        </div>
        <div id="middle">
            <div  id="titleWrapper">
                <h2 id="title" class="center-align">
                    <a href="{{ url_for('index')}}">
                        Tourify
                    </a>
                </h2>
            </div>

            <div id="mainText">
                <h3>Mine turer</h3>
                <label>
                    <input type="text" placeholder="Din drømmereise" id="search-bar">
                    <button type="submit" id="search-button">Søk</button>
                </label>
                <ul>
                    <li class="trip-info">
                        <img src="../static/styles/images/venice.png" alt="venezia">
                        <div class="trip-text">
                            <h3>Venezia</h3>
                        <p>Nyt solfylte dager med vinsmaking.</p>
                        </div>
                        <span>
                            <button class="trip-button">Avmeld</button>
                        </span>
                    </li>

                    <li class="trip-info">
                        <img src="../static/styles/images/geneve.png" alt="geneve">
                        <div class="trip-text">
                            <h3>Genéve</h3>
                            <p>Besøk klokkehovedstaden!</p>
                        </div>
                        <span>
                            <button class="trip-button">Avmeld</button>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div id="sideRight">
            <div id="buttonWrapper">
                <p>Logget inn som</p>
                <div class="dropdown">
                    <button class="dropbtn">Bruker</button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('userpage') }}">Hjemside</a>
                        <a href="{{ url_for('useredit') }}">Rediger profil</a>
                        <a href="" style="color: grey">Mine turer</a>
                        <a href="{{ url_for('index') }}">
                            <button class="loginButton">
                                Log Out
                            </button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="center-align" id="footer">
        <footer>
            <p>BLFMP AS &copy; 2023</p>
        </footer>
    </div>
</body>
</html>