<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>ExpPlanner</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="flex-container">
        <div id="sideLeft" class="center-align">
            <h4>placeholder</h4>
        </div>
        <div id="middle">
            <div  id="titleWrapper">
                <h1 id="title" class="center-align">
                    Expedition Planner - User
                </h1>
            </div>
            <div id="buttonWrapper" class="center-align">
                <a href="{{ url_for('index') }}">
                   <button class="loginButton">
                       Log Out
                   </button>
                </a>
            </div>
            <div id="mainText"> <!--Eksempeltekst-->
                <p></p>
            </div>
        </div>
        <div id="sideRight" class="center-align">
            <h4>logget inn som </h4>
        </div>
    </div>
    <div class="center-align" id="footer">
        <footer>
            <p>BLFP AS &copy; 2023</p>
        </footer>
    </div>
</body>
</html>