/*Stylesheet_ExpPlanner*/
/*Software Engineering og Testing - Gruppe 6*/
html, body {
    font-family: 'Ubuntu', 'Arial', 'Times New Roman', sans-serif;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    /*background: #b2beb5;*/
    background: #e7ebe8;
    display: flex;
    flex-direction: column;
}

a {
    display: inline-block;
}

.flex-container {
    display: flex;
    /*flex: 1;*/
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
}

#title {
    font-family: 'Lobster', 'Ubuntu', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
}

#titleWrapper {
    background: rgba(249, 249, 249, 0.5);
    margin: -5px;
}

#buttonWrapper {
    margin-top: 10px;
}

.loginButton {
    font-family: 'Ubuntu', sans-serif;
    border: none;
    border-radius: 8px;
    background-color: #b2beb5;
    padding: 5px 15px;
    margin: 8px;
    transition-duration: 0.3s;
}

.loginButton:hover {
    transition: 0.3s;
    background-color: #dbe1dd;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24);
}

.loginButton:active {
    background-color: #c0cac2;
    transition: 0.1s;
}

#search-bar {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}

#search-button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    border: none;
    border-radius: 8px;
    background-color: #b2beb5;
    padding: 5px 15px;
    margin: 5px;
    transition-duration: 0.3s;
}

#search-button:hover {
    transition: 0.3s;
    background-color: #dbe1dd;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24);
}

#search-button:active {
    background-color: #c0cac2;
    transition: 0.1s;
}

.dropdown {
    display: inline-block;

}

.dropbtn {
    font-family: 'Ubuntu', sans-serif;
    border: none;
    border-radius: 8px;
    background-color: #b2beb5;
    padding: 5px 15px;
    margin: 8px;
    transition-duration: 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#sideLeft {

}

#middle {
    padding: 5px;
    background-color: #f9f9f9;
    background-image: url("images/main_wallpaper.png");
    box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.7); /*Hvit overlay til bildet*/
    border-color: rgba(255, 255, 255, 1);   /*Hvitfargen til overlay*/
    background-size: cover;
    justify-content: center;
    width: 100%
}

#sideRight {
    margin-top: 0.5%;
    margin-left: 1%;
    margin-right: auto;
    width: 50%;
}

#mainText {
    letter-spacing: 1px;
    font-size: 15px;
    padding: 10px;
    line-height: 25px;
    text-align: center;
}

.center-align {
    margin: auto;
    width: 50%;
    text-align: center;
}

#footer {
    font-family: 'Montserrat', 'Arial', 'Times New Roman', sans-serif;
    font-weight: 300;
    font-size: 12px;
    background-color: #f9f9f9;
    margin-top: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer {
    padding: 5px;
}
